<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>JustDrink</h1>
    <mat-icon aria-hidden="false" aria-label="Example home icon"><a href="http://localhost:4200">home</a></mat-icon>
    <mat-menu #locations="matMenu" yPosition="above">
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="loginMenu">Staff Login</button>
    <mat-menu #loginMenu="matMenu" xPosition="after">
      <button mat-menu-item><a href="http://localhost:4200/stafflogin">Staff Login</a></button>
      <button mat-menu-item><a href="http://localhost:4200/staffregister">Staff register</a></button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="shopMenu">Shop</button>
    <mat-menu #shopMenu="matMenu" xPosition="after">
      <button mat-menu-item><a href="http://localhost:4200/shopregister">Shop creation</a></button>
      <button mat-menu-item><a href="http://localhost:4200/shopinterface">Shop list</a></button>

    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>



<router-outlet></router-outlet>